@import 'scss-reset/_reset.scss';

html {
  background-color: #f2f1f6;
}
html,
body,
main {
  font-family: 'Helvetica Neue', sans-serif;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #efeff0 inset;
}
